$color-bg = #fff;
$color-bg-a = #999999;
$color-bg-b = #cccccc;
$color-bg-c = #e2e2e2;
$color-primary = #7266ba;
$color-primary-hover = #6254b2;
$color-default = #fff;
$color-default-hover = #edf1f2;
$color-text-a = #333;
$color-text-b = #999;
$color-text-c = #ccc;
$color-line-a = #ccc;
$color-line-b = #e2e2e2;
$color-info = #23b7e5;
$color-info-hover = #19a9d5;
$color-warning = #fad733;
$color-success = #27c24c;
$color-danger = #f05050;
$color-danger-hover = #ee3939;
$color-white = #fff;
$font-size-normal = 12px;
$font-size-medium = 14px;
$font-size-big = 16px;
